body{
    background-color: rgb(170, 204, 255);
   
}
.con {
    display:flex;
    flex-direction: row;
  width: 1000px;
  height: 650px;
  margin-left: 250px;
  margin-top: 80px;
  border-radius: 40px;
  box-shadow: 3px 3px 13px 2px rgba(0, 0, 0, 0.3);
  background-color: rgb(252, 252, 252); 
}
.con1{
    width:400px;
}
.con2{
    padding: 50px;
    width:800px;
    height:500px;
    margin-left: 750px;
    margin-top: -55px;
}
#img{
    width: 500px;
    margin-top: 180px;
    height:470px;
    margin-left: 0px;   
    
 
}
h3{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: rgb(28, 28, 32);

}
h2{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color: rgb(134, 132, 251);
    margin-top:-590px;
    margin-left: 370px;
}
p{
    font-size: 15px;
    font-weight: bold;
    padding-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#yu{
    color:crimson;
    text-decoration: underline;
}
#yu:hover{
    color:goldenrod;
}
input{
    font-size: large;
    width:300px;
    height:35px;
    border-radius:10px;
    border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color:  rgb(175, 204, 248);
  border-color: antiquewhite;
  
}
button{
    
    margin-top: 50px;
    font-weight: normal;
    
    width:150px;
    font-size:25px;
    display: inline-block;
    font-size: 18px;
    background-color: rgb(117, 82, 240);
    border-radius: 25px ;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;  
    color:rgb(251, 247, 247);
    padding:10px; 
    position: relative;
   left:15px;   
   border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
 
  border-color: antiquewhite;
}
#b{
    width:150px;
    margin:2px;
    margin-top: 20px;
    position: relative;
    left:45px;   
}
button:hover{
    color:rgb(15, 9, 16);
    
    height: 50px;
    
}